h1{
    color:rgb(47, 50, 241);
    text-align: center;
    font-size: 45px;
}
h1{
    border-top: aquamarine dashed 10px;
    border-right: deeppink double 10px;
    border-bottom: aquamarine dashed 10px;
    border-left: deeppink double 10px;
}
body {
    margin: 0 auto;
    max-width: 1024px;
    font-size:14px;
    color: rgb(245, 53, 53);
}
ol {
    padding-left: 40%;
    margin-top: 2em;
    margin-bottom: 2em;
 }